<header>
    <div class="header-content">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.jpeg" alt="HACKEDEMIA" class="logo-icon">
                <span class="logo-text">HACKADEMIA</span>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/template_ppt/Hackademia2K24_Idea_Template.pptx" download="Hackademia2K24_Idea_Template.pptx">Download Idea Template</a></li>
            </ul>
        </nav>
    </div>
</header>