<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Hackathon Registration</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <section class="about">
            <h1>About Us</h1>
            <div class='animation'>
                <div class='item'>
                    <div class='line'></div>
                    <div class='dot'></div>
                    <div class='circle'></div>
                </div>
                <div class='item'>
                    <div class='line'></div>
                    <div class='dot'></div>
                    <div class='circle'></div>
                </div>
                <div class='item'>
                    <div class='line'></div>
                    <div class='dot'></div>
                    <div class='circle'></div>
                </div>
                <div class='item'>
                    <div class='line'></div>
                    <div class='dot'></div>
                    <div class='circle'></div>
                </div>
                <div class='item -type2'>
                    <div class='line'></div>
                    <div class='dot'></div>
                    <div class='circle'></div>
                </div>
                <div class='item -type2'>
                    <div class='line'></div>
                    <div class='dot'></div>
                    <div class='circle'></div>
                </div>
                <div class='item -type2'>
                    <div class='line'></div>
                    <div class='dot'></div>
                    <div class='circle'></div>
                </div>
                <div class='item -type2'>
                    <div class='line'></div>
                    <div class='dot'></div>
                    <div class='circle'></div>
                </div>
                <div class='center'>
                    <div class='circle'></div>
                    <div class='circle'></div>
                    <div class='circle'></div>
                </div>
            </div>
            
            <div class="founder-row">
                <div class="person founder">
                    <img src="/images/narayanasir.webp" alt="Founder">
                    <h2>Dr. P. Narayana</h2>
                    <p>Founder of Narayana Group</p>
                </div>
            </div>

            <div class="leadership-row">
                <div class="person"><img src="/images/director sir.jpg" alt="Assistant Professor">
                    <h3>Dr. B. Dattatraya Sarma</h3>
                    <p>Director - NEPC</p>
                </div>
                <div class="person">
                    <img src="/images/principle sir.jpeg" alt="Principal">
                    <h3>Dr. G. Srinivasulu Reddy</h3>
                    <p>Principal</p>
                </div>
                <div class="person">
                    <img src="/images/hod sir.jpeg" alt="CSE HOD">
                    <h3>Dr. C. Rajendra</h3>
                    <p>Professor & HOD-CSE</p>
                </div>
                <div class="person">
                    <img src="/images/ramamohansir.jpg" alt="Assistant Professor">
                    <h3>Dr. C. Rama Mohan</h3>
                    <p>Professor of CSE</p>
                </div>
            </div>
            
            <h1>Event Organizers</h1>
            <div class="students-row">
                <div class="person">
                    <h4>K. Shanmukha Reddy</h4>
                </div>
                <div class="person">
                    <h4>V. Rupesh</h4>
                </div>
                <div class="person">
                    <h4>Ch. V. N. Rugvidh</h4>
                </div>
                <div class="person">
                    <h4>T. S. Prem Rajiv</h4>
                </div>
                <div class="person">
                    <h4>K. Lakshman</h4>
                </div>
                <div class="person">
                    <h4>V. Ajay Sai Likhith</h4>
                </div>
                <div class="person">
                    <h4>Ch. Kushal</h4>
                </div>
                
                <div class="person">
                    <h4>Md. Aneesa Anjum</h4>
                </div>
                <div class="person">
                    <h4>S. Nikitheswari</h4>
                </div>
                <div class="person">
                    <h4>P. Reena Sultana</h4>
                </div>
                <div class="person">
                    <h4>T. V. S. L. Naga Jyothi</h4>
                </div>
                <div class="person">
                    <h4>T. Pravalika</h4>
                </div>
                <div class="person">
                    <h4>J. Sai Ritika</h4>
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>

    <script src="/js/main.js"></script>
</body>
</html>