<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Hackathon Registration</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <section class="contact">
            <h1>Contact Us</h1>
            <div class='animation'>
                <div class='item'>
                    <div class='line'></div>
                    <div class='dot'></div>
                    <div class='circle'></div>
                </div>
                <div class='item'>
                    <div class='line'></div>
                    <div class='dot'></div>
                    <div class='circle'></div>
                </div>
                <div class='item'>
                    <div class='line'></div>
                    <div class='dot'></div>
                    <div class='circle'></div>
                </div>
                <div class='item'>
                    <div class='line'></div>
                    <div class='dot'></div>
                    <div class='circle'></div>
                </div>
                <div class='item -type2'>
                    <div class='line'></div>
                    <div class='dot'></div>
                    <div class='circle'></div>
                </div>
                <div class='item -type2'>
                    <div class='line'></div>
                    <div class='dot'></div>
                    <div class='circle'></div>
                </div>
                <div class='item -type2'>
                    <div class='line'></div>
                    <div class='dot'></div>
                    <div class='circle'></div>
                </div>
                <div class='item -type2'>
                    <div class='line'></div>
                    <div class='dot'></div>
                    <div class='circle'></div>
                </div>
                <div class='center'>
                    <div class='circle'></div>
                    <div class='circle'></div>
                    <div class='circle'></div>
                </div>
            </div>
            
            <div class="contact-info">
                <div class="contact-item">
                    <i class="fas fa-envelope"></i>
                    <p>Email: <a href="mailto:hackedemia2k24@gmail.com">hackedemia2k24@gmail.com</a></p>
                </div>
                <div class="contact-item">
                    <i class="fas fa-phone"></i>
                    <p>Phone: <a href="tel:+917995315636">7995315636 , 9441336525</a></p> <br>
                </div>
            </div>

            <div class="social-links">
                <a href="https://youtube.com/@necntechvision?feature=shared" target="_blank" class="social-icon">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://www.instagram.com/hackedemia2k24?igsh=ZDhtNHEzZnkyM3o1" target="_blank" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://twitter.com/your-profile" target="_blank" class="social-icon">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>

    <script src="/js/main.js"></script>
</body>
</html>