<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon Registration</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollTrigger.min.js"></script>
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <section class="hero">
            <h1>Welcome to Hackademia 2K24</h1>
            <p>Join the most exciting coding event of the year and unleash your creativity!</p>
            <p><br> If you're not  <span style="color: rgb(84,204,254);"> <b>NARAYANA</b> </span> student ,then to register <a style="color: rgb(98, 223, 240);" href="https://unstop.com/hackathons/hackademia-2k24-narayana-engineering-college-nellore-1163280">click here</a>  </p>
        </section>

        <div class='animation'>
            <div class='item'>
                <div class='line'></div>
                <div class='dot'></div>
                <div class='circle'></div>
            </div>
            <div class='item'>
                <div class='line'></div>
                <div class='dot'></div>
                <div class='circle'></div>
            </div>
            <div class='item'>
                <div class='line'></div>
                <div class='dot'></div>
                <div class='circle'></div>
            </div>
            <div class='item'>
                <div class='line'></div>
                <div class='dot'></div>
                <div class='circle'></div>
            </div>
            <div class='item -type2'>
                <div class='line'></div>
                <div class='dot'></div>
                <div class='circle'></div>
            </div>
            <div class='item -type2'>
                <div class='line'></div>
                <div class='dot'></div>
                <div class='circle'></div>
            </div>
            <div class='item -type2'>
                <div class='line'></div>
                <div class='dot'></div>
                <div class='circle'></div>
            </div>
            <div class='item -type2'>
                <div class='line'></div>
                <div class='dot'></div>
                <div class='circle'></div>
            </div>
            <div class='center'>
                <div class='circle'></div>
                <div class='circle'></div>
                <div class='circle'></div>
            </div>
        </div>

        <section class="cards">
            <a href="/problem-statements" style="text-decoration: none; color: white; margin: 0;">
                <div class="card">
                    
                    <h2>Problem Statements</h2>
                    <p>Explore the challenges that await you</p>
                </div>
            </a>
            <a href="https://forms.gle/ECaS3mTSavJvwL8x8" style="text-decoration: none; color: white; margin: 0;">
                <div class="card">
                    <h2>Registration</h2>
                    <p>Sign up and secure your spot in the hackathon.. </p>
                </div>
            </a>
            <a href="/registered-people" style="text-decoration: none; color: white; margin: 0;">
                <div class="card" >
                    <h2>Registered People</h2>
                    <p>See who's ready to innovate alongside you.</p>
                </div>
            </a>
        
        </section>
    </main>

    <%- include('partials/footer') %>

    <script src="/js/main.js"></script>
</body>
</html>